/* colors */
/* green: #028051 */
/* offwhite: #FAF9F6 */

/* fonts */
/* Playfair Display SC  for titles */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
/* Quattrocento Sans for paragraph */
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: #faf9f6;
  font-size: 1.1rem;
  font-family: "Quattrocento Sans", sans-serif;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-family: "Playfair Display SC", serif;
}

header {
  background-color: #028051;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

footer {
  background-color: #028051;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

section {
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #028051;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #111;
}

section#intro a#intro,
section#data a#data {
  color: #003366;
  background-color: pink;
  text-decoration: none;
}

/* table formatting */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

th {
  background-color: #028051;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: coral;
}

.table-description {
  font-size: 1.1rem;
  color: #666;
  font-variant: small-caps;
}

/* end table formatting */

.responsive-img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.error {
  color: red;
  text-decoration: line-through;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#container {
  width: 85%;
  margin: 0 auto;
}
